    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'DM Sans', sans-serif;
    }

    .top-up{
        box-sizing: border-box;
        overflow: hidden;
    }

    .navbar{
        display: flex;
        gap: 7rem;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .up-list{
        list-style-type: none;
        text-decoration: none;
    }

    .under-list{
        display: flex;
        list-style-type: none;
        text-decoration: none;
    }

    .image-header img{
        width: 7rem;
    }

    .under-list li{
        font-size: 16px;
        line-height: 19.2px;
        color: #222222;
        padding: 20px;
    }

    .derm-1{
        cursor: pointer;
        position: relative;
        font-family: 'DM Sans', sans-serif;
    }

    .derm-1 div{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        margin-top: 1.3rem;
        cursor: pointer;
        padding: 1rem 2rem;
        border-radius: 1.3rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 200px;
        font-size: 16px;
        font-weight: 200;
        position: absolute;
        left: -1px; 
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'DM Sans', sans-serif;
        display: none;
    }

    
    .amen-1{
        text-decoration: none;
        color: #1A1A1A;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -3rem;
    }

    .amen-1:hover{
        color: #7F56D9;
    }

    .derm-1 div p{
        padding: 0.3rem;
    }

    .good-God{
        margin-left: -11.5px;    
    }

    .vrend{
        display: flex;
        align-items: center; 
        transition: all .3s ease-in-out; 
    }

    .vrend:hover{
        transform: translateX(25px);
    }

    .ihon{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
        /* display: none; */
    }

    .ihon1{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
        /* display: none; */
    }

    .ihon2{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
        /* display: none; */
    }

    .derm-1:hover{
        transition: .2s;
        color: black;
    }

    .derm-1:hover div{
        display: block;
        color: rgb(75, 56, 56);
    }

    .derm-2{
        cursor: pointer;
        position: relative;
        font-family: 'DM Sans', sans-serif;
    }

    .texting-me{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        margin-top: 1.3rem;
        cursor: pointer;
        padding: 1rem 2rem;
        border-radius: 1.3rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 200px;
        font-size: 16px;
        font-weight: 200;
        position: absolute;
        left: -1px; 
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'DM Sans', sans-serif;
        display: none;
    }

    
    .amen-11{
        text-decoration: none;
        color: #1A1A1A;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -3rem;
    }

    .amen-11:hover{
        color: #7F56D9;
    }

    .derm-2 div p{
        padding: 0.3rem;
    }

    .good-Godd{
        margin-left: -11.5px;    
    }

    .vrend-hotel{
        display: flex;
        align-items: center; 
        transition: all .3s ease-in-out; 
    }

    .vrend-hotel:hover{
        transform: translateX(25px);
    }

    .ihon-s{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
    }

    .ihon-w{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
    }

    .ihon-q{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
    }

    .derm-2:hover{
        transition: .2s;
        color: black;
    }

    .derm-2:hover .texting-me{
        display: block;
        color: rgb(75, 56, 56);
    }

    .derm-3{
        cursor: pointer;
        color: #222;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .derm-3:hover{
        color: #7F56D9;
        transition: color .3s;
    }

    .derm-4{
        cursor: pointer;
    }

    .derm-4:hover{
        color: #7F56D9;
    }

    .derm-5{
        cursor: pointer;
        position: relative;
        font-family: 'DM Sans', sans-serif;
    }

    .all-together{
        display: flex;
        gap: 2.6rem;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        margin-top: 1.3rem;
        cursor: pointer;
        padding: 1rem 2rem;
        border-radius: 1.3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        width: 37rem;
        font-size: 16px;
        font-weight: 200;
        position: absolute;
        left: -22rem; 
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'DM Sans', sans-serif;
        display: none;
    }

    .craving-me{
        width: 23rem;
        overflow: hidden;
    } 

    .craving-m{
        width: 23rem;
        overflow: hidden;
    }

    .craving-e{
        width: 27rem;
        overflow: hidden;
    }

    
    .amen-21{
        text-decoration: none;
        color: #1A1A1A;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -2rem;
    }

    .amen-21:hover{
        color: #7F56D9;
    }

    .derm-5 div p{
        padding: 0.3rem;
    }

    .good-Godds{
        margin-left: -10px;    
    }

    .vrend-hotelss{
        display: flex;
        align-items: center; 
        transition: all .3s ease-in-out; 
    }

    .vrend-hotelss:hover{
        transform: translateX(35px);
    }

    .ihon-m{
        color:#7F56D9;
        z-index: 10;
        font-size: 28px;
        padding-right: 14px;
    }

    .derm-5:hover{
        transition: .2s;
        color: black;
    }

    .derm-5:hover .all-together{
        display: flex;
        color: rgb(75, 56, 56);
    }

    .down-list{
        display: flex;
        gap: 2rem;
        font-size: 20px;
        list-style-type: none;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    .cart{
        cursor: pointer;
        display: flex;
        position: relative;
    }

    .cart-inside{
        color: var(--text-dark);
        height: 20px;
        width: 20px;
    }

    .oooh{
        height: 18px;
        min-width: 18px;
        text-align: center;
        border-radius: 9px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
        font-weight: 700;
        line-height: 18px;   
        color: white;
        background-color: black;
        font-family: Raleway, sans-serif;
    }

    .normal-one{
        font-size: 18px;
        line-height: 21.6px;
        color: #1a1a1a;
        cursor: pointer;
        font-family: Raleway, sans-serif;
    }

    .normal-one:hover{
        color: #7F56D9;
    }

    .normal-two{
        font-family: Raleway, sans-serif;
    }

    .btn-1{
        width: 10.3rem;
        height: 3.25rem;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        background-color: #7F56D9;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-family: Raleway, sans-serif;
    }

    .btn-1:hover{
        background-color: white;
        border: 1px solid #7F56D9;
        color: #7F56D9;
        transition: .6s;
    }

    .down-bottom{
        font-family: Raleway, sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        display: flex;
        overflow: hidden;
    }

    .all-animation{
        z-index: -1;
        min-height: 35%;
        margin-left: 20px;
        margin-right: 20px;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
        box-sizing: border-box;
    }

    .left-animation{
        box-sizing: border-box;
    }

    .anime-one{
        position: absolute;
        top: 51%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-two{
        position: absolute;
        width: 40px;
        top: 30%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-three{
        position: absolute;
        width: 50px;
        top: 66%;
        left: 10%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-four{
        position: absolute;
        top: 84%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .right-animation{
        box-sizing: border-box;
    }

    .other-one{
        width: 30px;
        position: absolute;
        top: 68%;
        right: 16%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-two{
        position: absolute;
        top: 29%;
        right: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-three{
        width: 30px;
        position: absolute;
        top: 88%;
        right: 3%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-four{
        width: 60px;
        position: absolute;
        top: 48%;
        right: 3%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .down-down{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .down-down h1{
        font-size: 70px;
        line-height: 84px;
    }

    .currency-one{
        color: #7F56D9;
    }

    .down-down h5{
        color: #4F4F4F;
        font-size: 12px;
        line-height: 21.6px;
        letter-spacing: 2.4px;
        font-weight: 400;
        margin-top: 1rem;
        font-family: 'DM Sans', sans-serif;
    }

    .display-images{
        z-index: 1;
        padding-top: 4rem;
    }

    .display-img{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
        z-index: 1;
    }

    .igi-one{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-two{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: white;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-three{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .cp1{
        box-sizing: border-box;
        width: 24rem;
    }

    .cp2{
        box-sizing: border-box;
        width: 24rem;
    }

    .cp3{
        box-sizing: border-box;
        width: 24rem;
    }

    .allign{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cp-image{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .cp-image:hover{
        filter: blur(3px);
        transition: .9s;
    }

    .cp2:hover + .icon-image{
        display: block;
    }

    .icon-image{
        display: none;
        color:white;
        z-index: 10;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #7F56D9;
        border-radius: 50%;
        font-size: 12px;
        padding: 13px;
        font-family: "Fa solid 900", sans-serif;
        position: absolute;
        transform: rotate(-30deg);
    }

    .before-aft{
        position: absolute;
        background-color: #EEF6F0;
        width: 100%;
        height: 8rem;
        margin-top: 27rem;
        z-index: -2;
    }

    .middle-middle{
        display: flex;
        padding-bottom: 8rem;
        width: 100%;
        z-index: -6;
        background-image: linear-gradient(to right, #EEF6F0 , #F7EDF7);
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .kitt{
        display: flex;
        gap: 8.5rem;
        z-index: 6;
        margin-top: 5.5rem;
        justify-content: center;
        align-items: center;
    }

    .inside-middle1{
        margin-left: 2rem;
    }

    .midd-1{
        font-size: 48px;
        font-family: Raleway, sans-serif;
        line-height: 57.6px;
        color: #1A1A1A;
        width: 33rem;
        text-align: left;
        margin-bottom: 2rem;
    }

    .midd-2{
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        color: #4F4F4F;
        width: 25rem;
        font-family: 'DM Sans', sans-serif;
        text-align: left;
    }

    .inside-middle2{
        justify-content: center;
        align-items: center;
        padding-top: 4.5rem;
    }

    .one-ones{
        display: flex;
        gap: 4rem;
        padding-bottom: 3rem;
    }

    .two-twos{
        display: flex;
        gap: 3.2rem;
    }

    .trans-one{
        text-align: center;
    }

    .p-1{
        width: 8rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .p-2{
        width: 8rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .p-3{
        width: 9rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .p-4{
        width: 9rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .p-5{
        width: 8rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .p-6{
        width: 9rem;
        font-style: 16px;
        line-height: 24px;
        color: #4F4F4F;
        font-weight: 400;
        font-family: 'DM Sans', sans-serif;
    }

    .the-same{
        width: 3.7rem;
    }

    .christopher{
        font-family: 'DM Sans', sans-serif;
    }

    .the-two2{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 9rem;
    }

    .india-1{
        font-size: 48px;
        line-height: 57.6px;
        width: 30rem;
        margin-left: 27rem;
        margin-bottom: 1.2rem;
        text-align: center;
        color: #1A1A1A;
        font-family: Raleway, sans-serif;
    }

    .india-2{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #4F4F4F;
    }


    .display-imagess{
        z-index: 1;
        padding-top: 4rem;
    }

    .display-imgs{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
        z-index: 1;
    }

    .igi-ones{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-twos{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: white;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-threes{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .cp1s{
        box-sizing: border-box;
        width: 25rem;
    }

    .cp2s{
        box-sizing: border-box;
        width: 25rem;
    }

    .cp3s{
        box-sizing: border-box;
        width: 25rem;
    }

    .alligns{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cp-images{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .christmass{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .christmass:hover{
2
    }

    .cp2s:hover + .icon-images{
        display: block;
    }

    .icon-images{
        display: none;
        color:white;
        z-index: 10;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #7F56D9;
        border-radius: 50%;
        font-size: 12px;
        padding: 13px;
        font-family: "Fa solid 900", sans-serif;
        position: absolute;
        transform: rotate(-30deg);
    }

    .behave:hover + .icon-images{
        display: block;
    }

    .behave{
        color: black;
        margin-top: 35rem;
        font-family: Raleway, sans-serif;
        z-index: 100;
        font-size: 24px;
        line-height: 28.8px;
        position: absolute;
    }

    .creedle{
        font-family: 'DM Sans', sans-serif;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .the-two3{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 11.5rem;
    }

    .india-11{
        font-size: 48px;
        line-height: 57.6px;
        width: 30rem;
        margin-left: 27rem;
        margin-bottom: 1.2rem;
        text-align: center;
        color: #1A1A1A;
        font-family: Raleway, sans-serif;
    }

    .india-22{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #4F4F4F;
    }

    .display-imagessw{
        z-index: 1;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .display-imgsw{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        gap: 3.5rem;
        width: 100%;
        max-width: 100%;
        z-index: 1;
    }

    .igi-onesw{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-twosw{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: white;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .igi-threesw{
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        align-items: center;
        font-family: Raleway, sans-serif;
    }

    .cp1sw{
        box-sizing: border-box;
        width: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.104);
    }

    .cp2sw{
        box-sizing: border-box;
        width: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.104);
    }

    .cp3sw{
        box-sizing: border-box;
        width: 25rem;
        border: 1px solid rgba(0, 0, 0, 0.104);
    }

    .allignsw{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cp-imagesw{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .christmassw{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .christmassw:hover{
        filter: blur(2.5px);
        transition: .9s;
    }

    .cp2sw:hover + .icon-imagesw{
        display: block;
    }

    .icon-imagesw{
        display: none;
        color:white;
        z-index: 10;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #7F56D9;
        border-radius: 50%;
        font-size: 12px;
        padding: 13px;
        font-family: "Fa solid 900", sans-serif;
        position: absolute;
        transform: rotate(-30deg);
    }

    .behavew{
        color: #1A1A1A;
        margin-top: 35rem;
        font-family: Raleway, sans-serif;
        z-index: 100;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
    }

    .display-iw{
        z-index: 1;
        padding-bottom: 16rem;
    }

    .display-in{
        font-family: Raleway, sans-serif;
        padding-bottom: 12rem;
        margin-left: 1.25rem;
    }

    .display-inner{
        display: flex;
        gap: 3.5rem;
    }

    .footer-00{
        font-family: Raleway, sans-serif;
        background-color: #7F56D9;
        height: 30rem;
    }

    .down-tom{
        font-family: Raleway, sans-serif;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        display: flex;
        position: relative;
        overflow: hidden;
        background-image: url(in-between.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 118px;
    }

    .in-animation{
        z-index: 15;
        min-height: 35%;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 4rem;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
        box-sizing: border-box;
    }

    .left-mation{
        box-sizing: border-box;
    }

    .anime-1{
        position: absolute;
        top: 51%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-2{
        position: absolute;
        width: 40px;
        top: 30%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-3{
        position: absolute;
        width: 50px;
        top: 66%;
        left: 10%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .anime-4{
        position: absolute;
        top: 84%;
        left: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
    }

    .right-mation{
        box-sizing: border-box;
    }

    .other-1{
        width: 30px;
        position: absolute;
        top: 68%;
        right: 16%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-2{
        position: absolute;
        top: 29%;
        right: 5%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-3{
        width: 30px;
        position: absolute;
        top: 88%;
        right: 3%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .other-4{
        width: 60px;
        position: absolute;
        top: 48%;
        right: 3%;
        max-width: 100%;
        display: inline-block;
        border: 0;
        box-sizing: border-box;
    }

    .downn-downn{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .currencyy-twoo{
        color: white;
        font-size: 48px;
        line-height: 57.6px;
        width: 35rem;
        padding-top: 4rem;
        margin-bottom: 3rem;
    }

    .currentt-122{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #7F56D9;
        width: 15rem;
        height: 3.3rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        font-family: Raleway, sans-serif;
        background-color: white;
    }

    .currentt-122:hover{
        background-color: #7F56D9;
        color: white;
        transition: .8s;
        border: 1px solid white;
    }

    .last-footer{
        font-family: Raleway, sans-serif;
        background-color: #FDFAFC;
        padding-top: 5rem;
    }

    .insidee-footer{
        display: flex;
        gap: 14.5rem;
        border-bottom: 1px solid #B3B4B7;
        margin-inline: 6rem;
        padding-bottom: 5rem;
        justify-content: center;
        align-items: center;
    }

    .image-footer{
        text-decoration: none;
        list-style-type: none;
    }

    .brand{
        width: 7rem;
    }

    .deep{
        text-decoration: none;
        list-style-type: none;
    }

    .why-me{
        display: flex;
        gap: 2rem;
        text-decoration: none;
        list-style-type: none;
    }

    .but-1{
        font-size: 18px;
        line-height: 21.6px;
        cursor: pointer;
    }

    .but-1:hover{
        color: #7F56D9;
    }

    .but-2{
        font-size: 18px;
        line-height: 21.6px;
        cursor: pointer;
    }

    .but-2:hover{
        color: #7F56D9;
    }

    .but-3{
        font-size: 18px;
        line-height: 21.6px;
        cursor: pointer;
    }

    .but-3:hover{
        color: #7F56D9;
    }

    .but-4{
        font-size: 18px;
        line-height: 21.6px;
        cursor: pointer;
    }

    .but-4:hover{
        color: #7F56D9;
    }

    .but-5{
        font-size: 18px;
        line-height: 21.6px;
        cursor: pointer;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    }

    .but-5:hover{
        color: #7F56D9;
    }

    .above-list{
        display: flex;
        gap: 2rem;
        text-decoration: none;
        list-style-type: none;
    }

    .above-one{
        font-size: 21px;
        cursor: pointer;
    }

    .above-one:hover{
        color: #7F56D9;
    }

    .need{
        display: flex;
        gap: 14.7rem;
        padding-bottom: 3rem;
        padding-top: 4rem;
        justify-content: center;
        align-items: center;
        font-family: 'DM Sans', sans-serif;
    }

    .divide{
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding-top: 3.5rem;
        color: #1A1A1A;
    }

    .moveit{
        margin-left: 13px;
    }

    .the-best{
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0.2px;
        color: #1A1A1A;
        font-family: Raleway, sans-serif;
        cursor: pointer;
    }

    .the-best:hover{
        color: #7F56D9;
    }

    .division-2{
        font-size: 20px;
        line-height: 24px;
        color: #1A1A1A;
    }

    .i-wish{
        font-family: Raleway, sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #1A1A1A;
        margin-bottom: 1rem;
    }

    .inside-df{
        font-family: 'DM Sans', sans-serif;
    }

    .bhye{
        width: 10rem;
        height: 1.9rem;
        font-size: 15px;
        font-weight: 400;
        border: none;
        border-bottom: 1px solid #B3B4B7;
        padding-bottom: 1rem;
        width: 24rem;
        font-family: 'DM Sans', sans-serif;
    }

    .chill-cold{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #fff;
        margin-left: 1rem;
        width: 10.5rem;
        height: 3.3rem;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-family: 'DM Sans', sans-serif;
        background-color: #7F56D9;
    }

    .chill-cold:hover{
        background-color: #fff;
        color: #7F56D9;
        transition: .8s;
        border: 1px solid #7F56D9;
    }